
* {
  margin: 0;
  padding: 0;
}

/*Header*/
.header_bar{
  background: #F2F2F2;
  border-bottom: 1px solid #E5E5E5;
  height: 26px;
  line-height: 26px;
  white-space: nowrap; 
}

.header_bar a{
  border: #F2F2F2 solid;
  border-width: 0 1px;
  color: #999;
  float: left;
  padding: 0 9px;
  position: relative;
}

.header_bar i{
  padding-right: 3px;
  color: blue;
}

.header_content{
  margin-top: 20px;
}

#btn_search{
  border: none;
  /*border-right: none;*/
  /*border: solid 2px #365DB5;*/
  font-weight: bold;
  /*line-height: 28px;*/
  background: #365DB5;
  color: #FFF;
  height: 36px;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
}

#btn_product{
  background: #EEE;
  border-left: solid 2px #365DB5;
  border-top: solid 2px #365DB5;
  border-bottom: solid 2px #365DB5;
  color: #333 !important;
}

#input_search{
  border-top: solid 2px #365DB5;
  border-bottom: solid 2px #365DB5;  
  height: 36px;
}

/*End header*/
.banner_logo img{
  width: 90px;
  height: 45px;
}

.banner_logo a{
  margin: 0 2px 2px 0;
  padding: 18px 0 18px 0;
  width: 120px;
  float: left;
  text-align: center;
  background: #FFF;
}

.banner_logo{
  width: 950px;
  height: 324px;
  /*display: inline;*/
}

.banner_left{
  width: 190px;
  height: 330px;
  float: left;
  display: block;
}

.banner_right{
  width: 190px;
  height: 330px;
  float: right;
  /*display: block;*/
}

#myCarousel > .carousel-inner > .item > img,
#myCarousel >.carousel-inner > .item > a > img {
    margin: auto;
}

#myCarousel .carousel-inner{
  width: 810px;
}

.category{
  float: left;
  width: 190px;
  height: 100%;
}

.main_banner{
  float: left;
}
.other_banner{
  float:left;
}

.other_banner > a {
  border-left: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
  display: block;
  width: 199px
}

.full_height{
  height: 1000px;
}

#container_body{
  width: 100%;
}

#container_header{
  width: 100%;
}

#productCarousel{
  width: 1190px;
  height: 410px;
  display: block;
  overflow: hidden;
  margin: 30px auto;
  background: #FFF;
  border: none;
  overflow: hidden;

}

#left_control{
  width: 18px;
  height: 30px;
  background-image: none;
  background-color: white;
  margin-top: 100px;
}

#left{
  width: 10px;
  height: 20px;
  background-image: none;
  background-color: white;
  /*margin-top: 100px;*/
  margin-top: 30px;
  margin-left: 20px;

}

#right{
  width: 10px;
  height: 20px;
  background-image: none;
  background-color: white;
  /*margin-top: 100px;
  margin-right: 30px;*/  
  margin-right: 20px;
  margin-top: 30px;
}


#carousel_1 > .carousel-inner > .item > img,
#carousel_1 >.carousel-inner > .item > a > img {
    margin: auto;
}

#carousel_1{
  width: 190px;
}

#right_control{
  width: 18px;
  height: 30px;
  background-image: none;
  background-color: white;
  margin-top: 100px;
  margin-right: 0px;
}

#product_thumb{
  width: 1309px;
  height: 374px;
  margin-left: 30px;
  margin-top: 10px;
}

.price{
  height: 25px;
  font-size: 20px;
  margin: 8px 0 6px;
  white-space: nowrap;
  color: red;
}

.name{
  font-size: 13px;
  height: 32px;
  line-height: 16px;
  margin-bottom: 6px;
  color: black;
}

.name a{
  color: black;
}

#product_thumb > .product_thumb_view > .item{
  width: 1390px;
  height: 6px;
}
.main_picture{
  width: 210px;
  height: 210px;
}

.wrapper_product{
  width: 222px;
  height: 354px;
  display: inline-block;
  margin: 0 8px 20px 0;
  float: left;
  position: relative;
}

.wrapper_product:hover{
  border: 2px solid red;
  border-bottom: 2px solid red
}

.wrapper_product:hover .more_content{
  display: block;
  opacity: 1;
  visibility: visible;
}

.more_content a{
  color: black;
}
.items{
  width: 1390px;
  height: 6px;
}

.estore{
  line-height: 180%;
  margin-bottom: 6px;
  position: relative;
  white-space: nowrap;
  color: #999;
}

.statistic{
  border-top: 1px solid #EEE;
  height: 30px;
  line-height: 30px;
  padding: 0;
  position: relative; 
}

.statistic span {
  border-right: 1px solid #EEE;
  float: right;
  text-align: center;
  width: 33%;
}


.top_estore{
  width: 1190px;
  height: 290px;
  margin: 30px auto;
  background: #FFF;
  padding: 16px;
}

.top_estore div{
  line-height: 140%;
  margin-top: 9px;
  /*padding-left: 25px;*/
  position: relative;
  white-space: nowrap;
  width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.top_estore > ul {
  width: 1158px;
  height: 223px;
}

.top_estore > ul > li {
  /*width: 289.5px;*/
  height: 223px;
  float: left;
  width: 25%;
  list-style: none;
}

.top_estore h4 {
  font-size: 14px;
  font-weight: bold;
}

.top_estore li{
  font-size: 13px;
}

.top_estore a{
  color: black;
  margin-left: 25px;
}

.top_estore span{
  color: #999;
  margin-left: 25px;
}

#no_1{
  background: #365DB5;
}

.top_estore b{
  background: #B0B0B0;
  border-radius: 50%;
  color: #FFF;
  position: absolute;
  padding: 1px 6px;
  text-align: center;
  top: 0;
  left: 0;
  font-weight: bold;
}

.teaser{
  color: #333;
  display: block;
  height: 210px;
}

.more_content{
  color: #333;
  height: 210px;
  line-height: 21px;
  padding: 4px 10px 0 !important;
  top: 0;
  margin-top: 0px;
  background: rgba(255, 255, 255, .95);
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  visibility: hidden;
  z-index: 1;
}

.block{
  background: #FFF;
  border: 1px solid #F5F5F5;
  border-radius: 3px;
  color: #999;
  position: relative;
  width: 218px;
}

.blank{
  width: 1300px;
  height: 20px;
}

.wrapper{
  height: 420px;
}

.vanchuyen{
  width: 1190px;
  height: 370px;
}

.vanchuyen > li {
  width: 238px;
  display: inline-block;
  float: left;
}

.giayphep_contents{
  height: 63px; 
}

#mini_menu_bar_right{
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  overflow: hidden;
  z-index: 3;
  background: #1B1B1B;
}

#mini_bar_menu{
  float: left;
  height: 100%;
  margin-top: 120px;
}

#minibar_app i{
  margin-left: 10px;
}

#mini_bar_menu i{
  font-size: 1.5em;
  margin-left: 10px;
  color: white;
}

/*#mini_bar_content{
  background: #494949;
  color: #FFF;
  margin-right: -235px;
  float: left;
  width: 5px;
  height: 100%;
  overflow: hidden;
}*/

#mini_bar_menu a p {
  text-align: center;
  color: white;
  font-size: 12px;
}

.minibar_top{
  position: absolute;
  bottom: 0;
}

#hide_chat{
  background-color: #365db5;
  border: 1px solid #2C498F;
  border-radius: 5px 5px 0 0;
  bottom: -1px;
  box-shadow: 0 0 1px #fff inset;
  height: 32px;
  line-height: 32px;
  padding:  0px 30px 0 10px;
  position: fixed;
  right: 42px;
  z-index: 9999;
  border-bottom: none;
  font-weight: bold;
  cursor: pointer;
  min-width: 207px;
  max-width: 320px;
  white-space: nowrap;
  font-family: arial;
  font-size: 15px;
  color: #fff;
}

#hide_chat i{
  position: absolute;
  right: 0;
  margin: 7px 7px 0 0;
}

.support_search li{
  margin-right: 10px;
  list-style: none;
  display: inline;
}

#search_box{
  width: 58%;
  padding-left: 100px;
}

.support_search{
  width: 58%;
  padding-left: 100px;
  margin-top: 5px;
}

.menu_link{
  background: #FFF;
  font-size: 13px;
  font-weight: bold;
  height: 33px;
  line-height: 33px;
  position: relative;
  white-space: nowrap;
  margin-top: 20px;
}

.container_width{
  margin: 0 auto;
  position: relative;
  width: 1190px;
  overflow: hidden;
  margin-top: 30px;
}

.hot{
  background: url("./images/new/hot.gif") no-repeat right top;
  padding-right: 24px;
}

.menu_link a{
  float: left; 
  color: black;
  margin-right: 20px; 
}

.menu_link a:first-child {
  margin-left: 210px;
}

#menu{
  width: 100%;
  height: 480px;
  position: relative;
}

#menu_list{
  height: 0;
  overflow: visible;
  position: relative;
  z-index: 2;
}

.wrapper_menu{
  position: relative;
}

#section1, #section3{
  margin-top: 30px;
}

.big:hover, .small:hover img{
  margin-left: 2px;
}

.small
/*#section3{
  margin-top: 30px;
}*/
.menu_root{
  background: #FFF;
  float: left;
  width: 190px;
}

#menu_home_root li{
  list-style: none;
}

#menu_home_root a {
  color: black;
}

#menu_list h2{
  background: #365db5;
  color: #FFF;
  font-weight: normal;
  position: absolute;
  text-align: center;
  top: -53px;
  left: 0;
  width: 190px;
  height: 33px;
  line-height: 33px;
  text-transform: uppercase;
  font-size: 14px;
}

.menu_root li{
  display: block;
  height: 30px;
  line-height: 30px;
  position: relative;
}

.tab {
  margin-top: 10px;
}

.tab a {
  margin-left: 24px;
  color: black;
}

.menu_root li a {
  /*display: block;*/
  height: 100%;
  padding: 0 16px;
  font-size: 13px;
}

.small_banner{
  position: absolute;
  right: 80px;
  top: 0;
}

.small_banner a {
  display: block;
  opacity: 0.95;
}

.small_banner img{
  width: 190px;
  min-height: 240px;
}

.affix{
  top: 500px;
}

#myScrollspy{
  margin-top: -500px;
  position: fixed;
  top: 50%;
  width: 35px;
  z-index: 2;
}

